*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    border: 1px solid blue;
    background-color: antiquewhite;
    text-align: center;
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.section{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section__box-box{
    background: rgba( 80, 84, 77, 0.2 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 2px );
    -webkit-backdrop-filter: blur( 2px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    width: 500px;
    height: 500px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section__box{
    border: 1px solid red;
    background: rgba( 254, 254, 254, 0.15 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 0.5px );
    -webkit-backdrop-filter: blur( 0.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    width: 350px;
    height: 400px;
}
.section__heading-container{
    background-image: linear-gradient(to top, #9795f0 0%, #fbc8d4 100%);
    width: 300px;
    margin: auto;
    margin-top: 10px;
}
.section__h1{
    padding: 20px;
    font-size: 40px;
    color: hsl(0, 0%, 0%);
}
.section__img{
    margin-top: 15px;
    width: 200px;
    height: auto;
}
.section__paragraph{
    padding: 20px;
    font-style: italic;
}
.section__btn{
    padding: 10px;
    border-radius: 10px;
    width: 300px;
    border: none;
    background-image: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%);
    color:#000000;
}
.section__second{
    background-image: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%);

}

